[buildout]
always-checkout = force
auto-checkout +=
    collective.compoundcriterion
    collective.eeafaceted.collectionwidget
    collective.eeafaceted.z3ctable
    eea.facetednavigation

[remotes]
imio = https://github.com/imio
imio_push = git@github.com:imio
plone = https://github.com/plone
plone_push = git@github.com:plone
ftw = https://github.com/4teamwork
ftw_push = git@github.com:4teamwork
zopefoundation = https://github.com/zopefoundation
zopefoundation_push = git@github.com:zopefoundation
zopesvn = svn://svn.zope.org/repos/main/
collective = https://github.com/collective
collective_push = git@github.com:collective

[sources]
collective.compoundcriterion = git ${remotes:collective}/collective.compoundcriterion.git pushurl=${remotes:collective_push}/collective.compoundcriterion.git branch=plone6-chris-adam
collective.eeafaceted.collectionwidget = git ${remotes:collective}/collective.eeafaceted.collectionwidget.git pushurl=${remotes:collective_push}/collective.eeafaceted.collectionwidget.git branch=python3-chris-adam
collective.eeafaceted.z3ctable = git https://github.com/IMIO/collective.eeafaceted.z3ctable.git pushurl=git@github.com:IMIO/collective.eeafaceted.z3ctable.git branch=plone6_duchenean-chris-adam
# develop-chris-adam: faceted bundles no longer load_async (16.4 bug), not released yet
eea.facetednavigation = git https://github.com/chris-adam/eea.facetednavigation.git pushurl=git@github.com:chris-adam/eea.facetednavigation.git branch=develop-chris-adam
