[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    base.cfg

update-versions-file = test-4.3.cfg

index = https://pypi.org/simple/

eggs +=
    Products.DocFinderTab
    aws.zope2zcmldoc

# http://<your-zope-root>/@@install-aws-zope2zcmldoc

[versions]
zc.buildout = 2.13.3
setuptools = 44.1.1
traitlets = 4.3.3
future = 0.18.3
six = 1.16.0

# Max version for Plone 4.3
Products.ExternalEditor = 1.1.3
collective.upgrade = 1.5
natsort = 6.2.1
plone.api = 1.10.4
plone.app.textfield = 1.3.4
z3c.unconfigure = 1.0.1
collective.z3cform.datagridfield = 1.3.3
plone.formwidget.namedfile = 2.0.5
plone.testing = 5.0.0
zc.lockfile = 1.4

# Added by buildout at 2023-02-21 14:51:26.709124
Products.DocFinderTab = 1.0.5
aws.zope2zcmldoc = 1.1.0
backports.functools-lru-cache = 1.6.4
ipdb = 0.13.11
iw.debug = 0.3
pdbp = 1.2.8
pdbpp = 0.10.3
plone.versioncheck = 1.7.0

# Required by:
# ipdb
backports.shutil-get-terminal-size = 1.0.0
enum34 = 1.1.10
ipython = 5.10.0
ipython-genutils = 0.2.0
pathlib = 1.0.1
pathlib2 = 2.3.5
pexpect = 4.8.0
pickleshare = 0.7.5
prompt-toolkit = 1.0.18
ptyprocess = 0.7.0
scandir = 1.10.0
simplegeneric = 0.8.1
toml = 0.10.2
wcwidth = 0.2.5

# Required by:
# qa.cfg
#check-manifest = 0.41
#coverage = 4.5.1
pep517 = 0.8.2

# Required by:
# plone.versioncheck
CacheControl = 0.12.5
colorama = 0.3.9
MarkupSafe = 1.0
msgpack-python = 0.5.6
msgpack = 0.5.6

# Added by buildout at 2023-03-07 15:07:25.523214
createcoverage = 1.5
isort = 4.3.21
functools32 = 3.2.3.post2
futures = 3.4.0
lockfile = 0.12.2
mccabe = 0.6.1
plone.recipe.codeanalysis = 3.0.1
pyflakes = 2.3.1
testfixtures = 6.18.5
typing = 3.10.0.0
zipp = 1.2.0

# Required by:
# pdbpp==0.10.3
fancycompleter = 0.9.1
pathtools = 0.1.2
pyrepl = 0.9.0
wmctrl = 0.4

# Required by:
# pdbp = 1.2.8
Pygments = 2.5.2


# collective.eeafaceted.dashboard dependencies: latest Plone 4.3 / Python 2.7 releases
# (masters may be Python 3 only). Same as server.dmsmail versions-base.cfg except
# imio.helpers / imio.actionspanel (latest 2.7 release).
collective.behavior.talcondition = 1.1.3
collective.compoundcriterion = 0.7
collective.documentgenerator = 3.49
collective.eeafaceted.collectionwidget = 1.18
collective.eeafaceted.z3ctable = 2.30
collective.excelexport = 1.8.3
eea.facetednavigation = 14.8
eea.faceted.vocabularies = 7.0
eea.jquery = 11.4
imio.actionspanel = 1.71
imio.helpers = 1.3.18
imio.history = 1.37
imio.prettylink = 1.24
imio.pyutils = 1.2.2
plone.app.relationfield = 1.3.0
z3c.table = 2.2

# Required by:
# imio.helpers / imio.pyutils / collective.documentgenerator / collective.excelexport
appy = 1.0.21
collective.fingerpointing = 1.8.3
file-read-backwards = 3.0.0
psutil = 6.1.1
PyJWT = 1.7.1
shortuuid = 0.5.0
xlwt = 1.3.0
# cryptography unpinned: the 46 sdist crashes pip 20.3.4 on Python 2.7
cffi = 1.15.1
cryptography = 3.3.2
ipaddress = 1.0.23
pycparser = 2.21

# Robot on a recent headless Firefox (geckodriver): selenium 2.53 / Selenium2Library 1.7
# of buildout.plonetest cannot drive it. Same pins as server.dmsmail test.cfg.
robotframework = 3.2.2
robotframework-debuglibrary = 1.3.1
robotframework-pythonlibcore = 2.2.1
robotframework-seleniumlibrary = 4.5.0
robotframework-selenium2library = 3.0.0
robotsuite = 2.3.2
selenium = 3.141.0

tabcompleter = 1.1.0

# Added by buildout at 2026-10-08 01:28:59.235516
beautifulsoup4 = 4.9.3
soupsieve = 1.9.6

# Required by:
# collective.documentgenerator==3.49
imio.migrator = 1.40.0

# Required by:
# collective.documentgenerator==3.49
phonenumbers = 9.0.40
