[versions]
setuptools = 44.1.1
zc.buildout = 3.4
pep517 = 0.12.0

eea.facetednavigation = 14.8
# python 2 ...
traitlets = 4.3.2
future = 0.18.2
# misc
zc.lockfile = 2.0
coverage = 5.3.1
toml = 0.10.2
zope.configuration=3.8.1
plone.formwidget.namedfile = 2.0.6
z3c.table = 2.2
z3c.unconfigure = 1.1

six=1.17.0
backports.functools-lru-cache = 1.6.6
natsort = 6.2.0

# Required by:
# ipdb
backports.shutil-get-terminal-size = 1.0.0
enum34 = 1.1.6
# <6 for py2.7
ipython = 5.10.0
ipython-genutils = 0.2.0
iw.debug = 0.3
pathlib = 1.0.1
pathlib2 = 2.3.5
pexpect = 4.6.0
pickleshare = 0.7.4
prompt-toolkit = 1.0.15
ptyprocess = 0.6.0
scandir = 1.10.0
simplegeneric = 0.8.1
toml = 0.10.2
traitlets = 4.3.2
wcwidth = 0.1.7
